@charset "UTF-8";

:root{


}
* {
    margin: 2px;
    background-color: cadetblue;
    border-radius: 4px;
    padding: 1px;
}
header{
    margin: auto;
    text-align: center;
}
body {
    background-color: white;
    margin: 0px;
}